.card-style-2 {
    background-color: white;
    border-radius: 40px;
    text-align: center;
    max-width: 350px;
    padding: 20px;
    margin: 18px;
}

.card-style-2 img {
    width: 60%;
    border-radius: 50%;
    margin: 20px;
}

.animagram-footer {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.animagram-header {
    display: flex;
    justify-content: space-between;
}

.card-style-2 .animagram-header .brand-name {
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
}

.card-style-2 p {
    padding: 0px 25px 45px;
}

h2 {
    margin: 0px;
}