.card-style-3 img{
    width: 290px;
    border: 6px solid goldenrod;
}

.card-style-3 {
    width: 350px;
    border: 10px solid rgb(255, 208, 0);
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    background:
        radial-gradient(at top left, rgb(181, 216, 181), green, rgb(181, 216, 181))
    ;
}

#pokemon-card-3 {
    background:
        radial-gradient(at top left, rgb(255, 204, 0),rgb(255, 98, 0), rgb(255, 204, 0))
    ;
}

#pokemon-card-4 {
    background:
        radial-gradient(at top left, rgb(115, 251, 251),rgb(118, 160, 207), rgb(115, 251, 251))
    ;
}

.pokemon-header {
    display: flex;
}

.details {
    background:
        radial-gradient(at top left, orange, yellow, orange)
    ;
    font-weight: bold;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 12px;
    text-align: center;
}

.description .bold {
    font-weight: bold;
    font-size: 20px;
}

.description {
    padding: 10px;
}

.attack {
    padding: 10px;
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
}

.power {
    font-weight: bold;
    font-size: 24px;
}

#pokemon-card-2 .data {
    margin-top: 55px;
}

#pokemon-card-2 .description {
    margin: 10px;
}

.data {
    border: 2px solid goldenrod;
    font-size: 12px;
    margin: 3px;
    padding: 3px;
}