* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 550px 250px 1fr;
    grid-template-areas: ". content sidebar .";
}

#sidebar-right {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-right h2 {
    background-color:rgba(176, 136, 136, 0.628);
    color: antiquewhite;
    grid-area: sidebar;
    padding: 12px;
    margin: 0px;
    
}

#sidebar-right a {
    color: rgba(195, 161, 161, 0.724);
}

#sidebar-right ul {
    border: 1px solid rgba(176, 136, 136, 0.628);
    background-color: rgb(0, 0, 0);
    padding: 0px 12px;; 
    margin: 0px 0px 36px; 
    list-style-type: none;
}

#sidebar-right li {
    border-bottom: 1px solid rgba(176, 136, 136, 0.628);
    padding: 8px 0px;
}

#sidebar-right li:last-child {
    border-bottom: 0px;
}

#main {
    background-color: rgb(249, 245, 245);
    grid-area: content;
    margin: 0px 36px;
    padding: 10px;
}

#crybaby {
    width: 362px;
}

#k-12 {
    width: 362px;
}

#portals {
    width: 362px;
}